---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
const { title } = Astro.props
// style import
import "@/styles/mobiflight.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="/font/Manrope-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin />
    <!-- <BaseHead title={title}/> -->
  </head>
  <body class="flex flex-col">
    <div
      class="flex justify-center bg-linear-to-br from-sky-500 to-emerald-500 dark:from-indigo-500/10 dark:via-sky-500/0 dark:via-70% dark:to-emerald-500/5"
    >
      <nav
        class="flex flex-row gap-8 px-8 py-4 items-center w-full max-w-6xl justify-items-start font-semibold uppercase text-white"
      >
        <a href="/"><img
          src="https://shop.mobiflight.com/wp-content/uploads/2026/02/mobiflight-logo-wide-small.png"
          alt="MobiFlight"
          class="h-8 mr-4"
        /></a>
        <a href="/download">Download</a>
        <a href="/club">Club</a>
        <a href="/services">Services</a>
      </nav>
    </div>
    <article class="flex flex-col items-center w-full">
      <slot />
      <!-- your content is injected here -->
    </article>
    <!-- <Footer /> -->
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>
