---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
interface Props {
  title: string
  class?: string
}
const { title, class: className } = Astro.props
// style import
import "@/styles/mobiflight.css"
import Footer from "@/components/mobiflight/footer.astro"
import Navigation from "@/components/mobiflight/navigation.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      href="/font/Manrope-VariableFont_wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title}</title>
  </head>
  <body class={`flex flex-col overflow-x-hidden ${className}`}>
    <Navigation />
    <article class="flex flex-col items-center w-full">
      <slot />
      <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
</html>
