---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
const { title } = Astro.props
// style import
import "@/styles/mobiflight.css"
import Badge from '@/components/starwind/badge/Badge.astro'
import Button from '@/components/starwind/button/Button.astro'
import IconDownload from '@/components/mobiflight/icons/icon-download.astro'
import IconShop from '@/components/mobiflight/icons/icon-shop.astro'
import IconDocs from '@/components/mobiflight/icons/icon-docs.astro'
import IconHome from '@/components/mobiflight/icons/icon-home.astro'
import Footer from '@/components/mobiflight/footer.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      href="/font/Manrope-VariableFont_wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- <BaseHead title={title}/> -->
  </head>
  <body class="flex flex-col">
    <div
      class="flex justify-center bg-linear-to-br from-sky-500 to-emerald-500 dark:from-indigo-500/10 dark:via-sky-500/0 dark:via-70% dark:to-emerald-500/5"
    >
      <nav
        class="flex flex-row gap-8 px-8 py-4 items-center w-full max-w-6xl justify-between font-semibold uppercase text-white"
      >
        <div id="primary-navigation" class="flex flex-row gap-8 items-center">
          <a href="/"
            ><img
              src="https://shop.mobiflight.com/wp-content/uploads/2026/02/mobiflight-logo-wide-small.png"
              alt="MobiFlight"
              class="h-8 mr-4 hidden lg:inline-block"
            />
            <IconHome class="h-6 w-6 lg:hidden" />
            </a
          >
          <a href="/about">Project</a>
          <a href="/club">Membership</a>
          <a href="/services">Services</a>
        </div>
        <div id="secondary-navigation" class="flex flex-row gap-8 items-center font-normal normal-case">
          <a
          class="flex items-center gap-1"
          href="https://docs.mobiflight.com"
          target="_blank"
          rel="noopener noreferrer"><IconDocs /> Docs</a
          >
          <a
          class="flex items-center gap-1"
          href="https://shop.mobiflight.com"
          target="_blank"
          rel="noopener noreferrer"><IconShop /> Shop</a
          >
          <a
          href="https://mobiflight.com/discord"
          target="_blank"
          rel="noopener noreferrer">Support</a
          >
          <Button href="/download" size="sm" class="bg-background text-foreground hover:bg-background/80"><IconDownload /> Download</Button>
        </div>
      </nav>
    </div>
    <article class="flex flex-col items-center w-full">
      <slot />
      <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>
