---
import Card from "@/components/starwind/card/Card.astro"
import CardContent from "@/components/starwind/card/CardContent.astro"
import Button from "@/components/starwind/button/Button.astro"
import Link from "@/components/mobiflight/link.astro"

const clubSignupUrl = import.meta.env.PUBLIC_CLUB_SIGNUP_URL || "https://club.mobiflight.com/subscribe"
const clubLoginUrl = import.meta.env.PUBLIC_CLUB_LOGIN_URL || "https://club.mobiflight.com"
---

<Card class="shadow-lg border-2 bg-primary/5 text-center mb-4">
  <CardContent class="flex flex-col items-center gap-4">
    <div class="flex flex-col gap-1 justify-center items-center">
      <p class="text-lg">Join today for only</p>
      <p class="text-5xl font-bold">5 €</p>
      <p class="text-xl text-muted-foreground">per month</p>
    </div>
    <div class="flex justify-center">
      <Button variant="primary" href={clubSignupUrl}>Become a member</Button>
    </div>
    <p class="text-xs text-muted-foreground">
      Final price will vary based on your location and applicable taxes.
    </p>
  </CardContent>
</Card>
<div class="flex justify-center">
  <Link link={clubLoginUrl}> Already a member? Log in </Link>
</div>
