@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 200 800; 
  font-display: optional;
}

@import "./starwind.css";

@theme {
  --font-display: "Manrope", sans-serif;
  --font-sans: "Manrope", sans-serif;
} 

@layer base {
  html {
    font-size: 18px;
  }

  body {
    font-family: var(--font-sans);
  }
}
