PUBLIC_CLUB_SIGNUP_URL=http://localhost:5173/subscribe
PUBLIC_CLUB_LOGIN_URL=http://localhost:5173/
# The following URLs are totally optional
# Normally you would not have to set anything
PUBLIC_DONATE_PAYPAL_URL= # the link to the PayPal donation page  
PUBLIC_GITHUB_SPONSOR_URL= # the link to the GitHub sponsor page
PUBLIC_SHOP_URL= # the link to the shop page
PUBLIC_DOCS_URL= # the link to the documentation page
PUBLIC_GETTING_STARTED_VIDEO_URL= # the link to the getting started video
PUBLIC_YOUTUBE_CHANNEL_URL= # the link to the YouTube channel